body
{
    background-color: #0C0C0C;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}
h2
{
    font-weight: 400;
    font-size: var(--title);
    line-height: var(--title-line-height);
    text-align: center;
}

#about 
{
    padding-top: 20vh;
    width: 60%;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
}

#about h2, #projects h2
{
    margin: auto;
}

.caption
{
    width: 75%;
    margin: auto;
}
  
.content 
{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.left 
{
    width: 48%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

.right 
{
    width: 48%;
    display: flex;
    flex-direction: column;
}

.blurb,
.funfact,
.purpose 
{
    border: 1px solid #313131;
    background-color: #1B1B1B;
    border-radius: 5vh;
    padding: 4vh 8vh;
    margin-bottom: 3.33vh;
    flex-grow: 1;
}

.location,
.education,
.contact 
{
    background-color: #1B1B1B;
    border-radius: 5vh;
    border: 1px solid #313131;
    padding: 5vh 8.33vh;
    margin-bottom: 3.33vh;
    flex-grow: 1;
}

.button 
{
    background-color: #131313;
    color: #FFFFFF;
    width: 33%;
    padding: 1vh;
    text-align: center;
    border-radius: 10px;
    margin-top: 3.17vh;
}

.button:hover 
{
    background-color: #FFFFFF;
    color: #0C0C0C;
}

.icon2 
{
    margin-right: 3.33vh;
}

.icon2 h1, .icon3 h1
{
    margin-bottom: 0px;
}

.education 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.funfact 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact 
{
    background-image: url(../assets/images/contact.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}