.quote
{
    margin: 0px;
    margin-bottom: 4vh;
}

.block
{
    margin-bottom: 2vh;
}

.explain
{
    display: flex;
    justify-content: space-between;
    margin-top: 7vh;
}

.explain p
{
    margin-top: 10px;
}

.usecase, .outcomes
{
    margin-top: 7vh;
}

.sentence
{
    width: 50%;
}

.photo
{
    width: 40%;
}

.audience, .persona
{
    padding: 35px 50px;
}

h3
{
    margin-bottom: 0px;
}

h4
{
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
    font-weight: 600;
    margin-top: 5vh;
}

.dashboard
{
    margin-top: 7vh;
}

/*Media Query - Mobile*/
@media screen and (max-width: 576px)
{
    .explain
    {
        flex-direction: column-reverse;
        margin-top: 5vh;
    }

    .sentence
    {
        width: 100%;
    }

    .photo
    {
        width: 100%;
    }

    h4
    {
        margin-top: 1.5vh;
    }
}