:root
{
    --body-copy: 14px;
    --body-copy-line-height: calc(var(--body-copy)*1.1);
    --columns: 1;
    --grid-gap: 1.5em;
}

body
{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
    width: 90%;
    margin: auto;
    margin-top: 7vh;
    background-color: #1B1B1B;
    color: #FFFFFF;
}

.code, .ai
{
    display: grid;
    grid-template-columns: repeat(var(--columns),1fr);
    gap: var(--grid-gap);
    margin-bottom: 5vh;
    margin-top: 30px;
}

img
{
    border-radius: 5px;
}


/* Media query for larger screens */
@media screen and (min-width: 768px) 
{
:root
{
    --body-copy: 14px;
    --body-copy-line-height: calc(var(--body-copy)*1.1);
    --columns: 3;
    --grid-gap: 1.5em;
}

body
{
    width: 70%;
    margin: auto;
    margin-top: 7vh;
}

figure
{
    margin-top: 15px;
}

figcaption
{
    margin-top: 5px;
}

h1
{
    font-size: 24px;
    font-weight: 500;
}

}