@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
:root
{
    --body-copy: 14px;
    --body-copy-line-height: calc(var(--body-copy)*1.3);

    --hero-copy: 28.5px;
    --hero-copy-line-height: calc(var(--hero-copy)*1.2);
}

body
{
    font-family: 'General Sans', sans-serif;
    font-weight: 400;
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
    letter-spacing: 0.4px;
}

.top 
{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-top: 5vh;
    padding-bottom: 3vh;
}
  
.navdesktop 
{
    display: flex;
    justify-content: center;
    background-color: rgba(27, 27, 27, 0.7);
    padding: 10px 0px;
    border-radius: 100px;
    width: 55%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-link 
{
    font-size: var(--nav-copy);
    font-weight: 400;
    color: #86868B;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0px 15px;
    transition: all 0.3s ease;
    border-radius: 10px;
}
  
.nav-link:hover,
.nav-link.active 
{
    background-color: #FFFFFF;
    color: #0C0C0C;
    font-weight: 500;
    border-radius: 10px;
}

#head 
{
    display: flex;
    background-color: #0c0c0c;
    height: 70vh;
}

.overview 
{
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 5%;
}

.overview h1 
{
    max-width: 100%;
}

.heroshot 
{
    flex: 1.65;
    overflow: hidden;
}

.heroshot img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*handwriting*/
.container 
{
    display: flex;
    flex-direction: column;
}
  
.handwriting 
{
    font-family: 'Borel';
    opacity: 1;
    height: 7vh;
    padding-top: 20px;
    background: linear-gradient(to right, #E6A526, #E62D4F, #6A47CC, #28D6B4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    letter-spacing: 0px;
}

.about, .problem, .product, .productinfo, .benefit, .order
{
    width: 30%;
}

.text
{
    width: 70%;
    margin: auto;
    margin-top: 5.5vh;
}

.description
{
    display: flex;
    justify-content: space-between;
    height: 30vh;
}

.line
{
    border: 0.8px solid #E8E8E8;
    margin-bottom: 30px;
}

h1
{
    font-size: var(--hero-copy);
    line-height: var(--hero-copy-line-height);
    font-weight: 500;
}

h2
{
    font-size: calc(var(--hero-copy)*0.7);
    line-height: var(--hero-copy-line-height);
    font-weight: 600;
    margin-bottom: 5px;
    color: #0099DE;
}

h3
{
    color: #86868B;
    font-weight: 500;
    margin-bottom: 5px;
}

h4
{
    font-size: 24px;
    margin-right: 5%;
}

.current
{
    display: flex;
}

.existing
{
    flex: 60%;
    margin-right: 7%;
}

img
{
    border-radius: 5px;
}

.challenges
{
    flex: 40%;
}

figcaption
{
    margin-top: 5px;
    color: #86868B;
}

.users, #design
{
    padding-top: 7vh;
}

ul
{
    list-style-type: disc;
}

li
{
    margin-bottom: 15px;
}

.block, .persona, .audience
{
    display: flex;
}

.audience
{
    flex: 50%;
    margin-right: 5%;
}

.persona
{
    flex: 50%;
}

.audience, .persona
{
    background-color: #f5f5f7;
    padding: 40px 50px;
    border-radius: 25px;
}

.block p
{
    margin-top: 20px;
}

.quote
{
    margin-top: 10vh;
    margin-bottom: 7vh;
}

/* guiding principles */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding-top: 20px;
  }
  
  .content-div {
    background-color: #f5f5f7;
    padding: 20px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
  }
  
  .content-categorization {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
  
  .visuals {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }

  .ux-writing {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }
  
  .type-hierarchy {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
  }
  
  .design-language {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
  }