/*fonts*/
@font-face 
{
    font-family: 'geist_monolight';
    src: url('../assets/fonts/geistmono-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/geistmono-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root
{
    --body-copy: 3.5vw;
    --body-copy-line-height: calc(var(--body-copy)*1.3);

    --media-copy: 2vw;
    --media-copy-line-height:calc(var(--media-copy)*1.2);

    --desktop-copy:0.9vw;
    --desktop-copy-line-height:calc(var(--desktop-copy)*1.2);

    --columns: 1;
    --grid-gap: 1.5em;
}


body
{
    margin: 0;
    width: 90%;
    margin: auto;
    padding: auto;
    font-family: 'geist_monolight';
    background-color: #1f1f1f;
    font-size: var(--body-copy);
    line-height: var(--body-copy-line-height);
}

.content
{
    margin-bottom: 22vh;
}

.description
{
    color: white;
    text-transform: uppercase;
    margin-top: 7vh;
    position: sticky;
    top: 7vh;
    z-index: 1;
}

h1{
    margin-bottom: 20px;
}

.description p
{
    margin-bottom: 10px;
}

a
{
    color: #3dff50;
    text-transform: uppercase;
}

.links
{
    margin-top: 20px;
    margin-bottom: 20px;
}

a:hover{
    color: #ea34fe;
}

.work
{
    display: grid;
    grid-template-columns: repeat(var(--columns),1fr);
    gap: var(--grid-gap);
    background-color: #1f1f1f;
    z-index: 99;
    position: relative;
}

.work img
{
    padding-top: 15px;
    border-radius: 3px;
}

.workdesktop
{
    display: none;
}


figcaption
{
    color: white;
    margin: auto;
    padding: auto;
    margin-top: 5px;
}

/*media query*/
/*mobile & ipad*/
@media screen and (min-width: 481px) and (max-width: 1023px)
{
    body
    {
        font-size: var(--media-copy);
        line-height: var(--media-copy-line-height);
    }

    .description
    {
        width: 70%;
    }

    .work
    {
        --columns: 2;
    }

    .workdesktop
    {
        display: none;
    }
}

/*desktop*/
@media screen and (min-width: 1024px)
{
    body
    {
        font-size: var(--desktop-copy);
        line-height: var(--desktop-copy-line-height);
    }

    .content{
        display: flex;
        flex-direction: row-reverse;
    }


    .work{
        display: none;
    }

    .description
    {
        position: fixed;
        width: 25%;
        margin-top: 0;
    }

    .workdesktop
    {
        width: 70%;
        --columns: 3;
        display: grid;
        grid-template-columns: repeat(var(--columns),1fr);
        gap: calc(var(--grid-gap)*1.5);
        margin-top: 7vh;
        margin-right: 33%;
    }

    img
    {
        transition: all 1s ease-out;
        border-radius: 5px;
    }

    img:hover
    {
        transform: scale(1.4);
    }

    figcaption
    {
        width: 100%;
        margin-bottom: 2vh;
    }
}